.InformacionEmpresa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    min-height: 115vh;
  }

   
  .InformacionEmpresa .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    max-height: 600px;
    align-self: flex-start;
    border-radius: 10px; /* Agrega un borde redondeado de 10px */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  }

  .InformacionEmpresa .additional-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    max-height: 600px;
    align-self: flex-end;
    margin-top: -610px;
    border-radius: 10px; /* Agrega un borde redondeado de 10px */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    min-height: 100vh;
  }

  .InformacionEmpresa .image-container{
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    height: 250px; /* Ajusta la altura de la imagen */
     /* Mueve la imagen hacia la izquierda */
    margin-top: -260px;
    margin-left: 700px;
    
    border-radius: 10px; /* Agrega un borde redondeado de 10px */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
  }

  .InformacionEmpresa .btn-MideTuHuella{
    font-size: 18px;
    background-color: #5046DF;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  }

  .InformacionEmpresa p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
  }

  .InformacionEmpresa li{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
  }

  .InformacionEmpresa h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
  }