
.cloud {
    background-color: #D0D0FF;
    background-image: url('fondo.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
    color: black;
    width: 100%; 
    height: 400px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  h6{
    text-align: center;
  }

  h2 {
    font-size: calc(1.3rem + .6vw);
    margin-bottom: 10px;
    font-weight: bold;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  p {
    font-size: calc(1.3rem + .6vw);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    margin-bottom: 1.5rem!important;
  }
  

 
.grey{
  background-color: #e4e4e4;
}


/* Estilos para los botones */
.button {
  background-color: #f0f0f0; /* Color de fondo más claro */
  color: #333; /* Color de texto */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-weight: 500; /* Puedes ajustar el peso de la fuente según tu preferencia */
  padding: 8px 16px; /* Relleno más pequeño */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el cursor a un tono más claro */
  transform: scale(0.95); /* Reducción ligeramente el tamaño al pasar el cursor */
}

.primary-btn {
  background-color: #a0a0ff; /* Color de fondo más claro y suave */
  color: #333; /* Color de texto */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-weight: 500; /* Puedes ajustar el peso de la fuente según tu preferencia */
  padding: 8px 16px; /* Relleno más pequeño */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.primary-btn:hover {
  background-color: #8080ff; /* Cambia el color de fondo al pasar el cursor a un tono más claro */
  transform: scale(0.95); /* Reducción ligeramente el tamaño al pasar el cursor */
}

/* Estilos para el botón de clase 'popup' */
.popup button {
  background-color: #f0f0f0; /* Color de fondo más claro */
  color: #333; /* Color de texto */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  font-weight: 500; /* Puedes ajustar el peso de la fuente según tu preferencia */
  padding: 8px 16px; /* Relleno más pequeño */
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.popup button:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el cursor a un tono más claro */
  transform: scale(0.95); /* Reducción ligeramente el tamaño al pasar el cursor */
}
