/* .contact {
    width: 100%;
    height: 100vh;
    position: relative;

}

.contact:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.contact .container .form-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 color: #f8f8f8;
}


.contact .form-container div {
    display: flex;
}

.contact form label {
    margin: 2rem 0 .7rem 0;
    display: none;
}



@media screen and (max-width: 940px) {
    .contact form {
        width: 100%;
    }
}







 */
