.navbar {
    width: 10%;
    height: 10px; /* Cambia la altura a 60px o el valor deseado */
    position: absolute;
    z-index: 10;
    background-color: #fff; /* Color de fondo lila */
}


.navbar li {
    padding: 1rem;
    font-weight: 600;
    color: #fff;
    margin-right: 1rem;
    display: inline-block; /* Cambia 'display' a 'inline-block' */
}

.navbar .icon {
    font-size: 1.4rem;
    color: #d4ade5;
}

@media screen and (max-width: 940px) {
    /* ... Otros estilos ... */

    .navbar li {
        margin-right: 0;
        font-size: 2rem;
    }
}
