.footer {
    background-color: #fff;
    color: #777; /* Cambia el color del texto a un tono más claro, por ejemplo, gris oscuro */
    padding: 10px 0;
  }
  
  .logo-footer {
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 24px; /* Ajusta el tamaño de los iconos a tu elección */
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
  .info-columns {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas en el espacio disponible */
    flex-wrap: wrap; /* Permite que las columnas se envuelvan a una nueva línea si no caben en el ancho disponible */
  }
  
  .column {
    flex: 1;
    text-align: center;
    padding: 10px 0;;
  }
  
  /* Ajusta el estilo de los títulos y los íconos según tus preferencias */
  h3 {
    font-size: 16px;
  }
  
  /* Ajusta el estilo del texto según tus preferencias */
  p {
    font-size: 14px;
  }
  
  .column:not(:last-child) {
    border-right: 1px solid #777; /* Línea vertical entre las columnas */
    margin-right: 10px; /* Espacio entre las columnas */
  }