@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color-bright: #544eeb;
  --primary-color-dull: #8c79db;
  --primary-dark: #0d2154;
  --primary-light: #f8f8f8;
}

span {
  color: var(--primary-color-dull);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.2rem;
  line-height: 1.4;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  position: relative;
}

.questionSectionButton{
  float: right;
  margin-right: 1rem;
  padding: 0px;
}

.editNavLogic{
  width: 100%;
  background-color: #fff;
  border: #e4e4e4 3px solid;
}

.createdFormsContainer{
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border:#e5e4e2 solid 3px;
  margin: 1rem;
}
.formQuestionSectionTitle{
  font-size: 2.5rem;
  width: -webkit-fill-available;
}
.formQuestionTitle{
font-size: 1.5rem;
width: -webkit-fill-available;
}
.formQuestionHint{
  color: #999999;
  font-size: 1.5rem;
width: -webkit-fill-available;
}
.question-box{
  background-color: #e4e4e4;
  margin: 0.25rem;
  padding: 0.5rem;
}
.formItemBox{
  width: 200px;
  height: 230px;
  margin: 1rem;
  align-items: center;
    justify-content: center;
    border: 3px solid var(--primary-color);
  
}

.formItemNew{
width: 80px;
display: flex;
height: 80px;
border-radius: 50%;
align-items: center;
justify-content: center;
visibility: visible;
}

.formItemNew-sm{
width: 3rem;
display: flex;
height: 3rem;
border-radius: 50%;
align-items: center;
justify-content: center;
visibility: visible;
}

.color-primary{
  background-color: var(--primary-color-bright);
}
.just-center{
  justify-content: center;
}
.plus-container-sm{
  width: 2rem;
display: flex;
height: 2rem;
background-color: var(--primary-color);
border-radius: 50%;
align-items: center;
justify-content: center;
visibility: visible;
}

#formTitle{
  font-size: 6rem;
  display: block;
  width: 100%;
}

.formEditQuestionsList{
  display: flex;
  flex-wrap: wrap;
}

.innerFormContainer{
  display: block;
}

.borderless, .borderless:focus-visible,.borderless:focus{
  border: 0px;
  outline: none;
}

.transparent-input{
  border: 0px;
  background-color: rgb(0,0,0,0);
}
.transparent-input:focus-visible{
  border: 0px;
  background-color: rgb(0,0,0,0);
}
.transparent-input:focus{
  border: 0px;
  background-color: rgb(0,0,0,0);
}
textarea:focus, .transparent-input:focus{
  outline: none;
}
.invisible{
  visibility: hidden;
}
.invisible:hover{
  visibility: hidden;
}


.disapear{
  display: none !important;
}
.disapear:hover{
  display: none !important;
}
.dragabbleBox{
  width: unset!important;
  padding: 0px!important;
  border: 0px;
  background-color: rgb(0,0,0,0);
}
.chip{
  float: left;
  padding: .4rem;
  margin: .4rem;
  border-radius: .5rem;
  color: #fff;
}
.clearDroppableChipBox{
  background-color: rgb(0,0,0,0);
  border: rgb(0,0,0,0);
}
.clickable:hover{
  cursor: pointer;

}
.clear{
  color: rgb(0,0,0,0);
  background-color: rgb(0,0,0,0);
}
.droppableChipBox{
  background-color: #fff;
  border: #e4e4e4 2px solid;
  display: flex;
  min-height: 30px;
}
.dropableSeparator{
  background-color: Gainsboro;
  width: 5px;
  height: 30px;
  margin: 5px;
}
.stack-small{
  border: var(--primary-color) 2px solid;
  margin: .5rem;
  display: flex;
  color: var(--primary-dark);
}


























@media screen and (max-width: 940px) {
  .contact form {
      width: 100%;
  }
}





@media screen and (max-width: 940px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}








